
:root {
    --primary-color: #151515; 
    --text-color: #16C60C; 
    --nav-bg-color: #151515; 
    --body-bg-color: #151515; 
    --link-color: #11D116; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: var(--body-bg-color); /* Black background */
}

/* Terminal Font */
body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color); 
    font-size: 16px;
    padding: 20px;
}

/* Navbar customizations */
.nav-wrapper {
    background-color:var(--body-bg-color); 
    box-shadow: none;
}

.nav-wrapper a {
    color: var(--text-color); /* Green text */
}

/* Hiding the sidenav trigger and adjusting logo */
.sidenav-trigger {
    display: none;
}

.brand-logo {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color); 
    font-size: 16px; /* Adjusted font size */
    display: flex;
    align-items: center;
}


/* Section Styling */
.section {
    margin-top: 20px;
}

/* Table customizations to fit terminal theme */
table, th, td {
    border: 1px solid var(--text-color); /* Green borders */
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--body-bg-color); /* Black background */
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--body-bg-color); /* Darker green background for headers */
}

a {
    color: var(--text-color); /* Green text for links */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000; 
}

::-webkit-scrollbar-thumb {
    background: #005500; 
}

::-webkit-scrollbar-thumb:hover {
    background: #007700; 
}

@keyframes blink {
    50% { opacity: 0; }
}

.blinking-cursor {
    animation: blink 1s step-end infinite;
    color: var(--text-color); /* Ensure the cursor color matches the terminal text */
    font-size: 22px; /* Ensure the cursor font size matches the text */
 }
